<div class="container">
    <div class="services-padding">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>{{"HOMNE.SERVICE.MY_SERVICE" | translate}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="feature-left">
            <span class="icon">
              <i class="icon-paintbrush"></i>
            </span>
            <div class="feature-copy">
              <h3>{{"HOMNE.SERVICE.INTERFACE" | translate}}</h3>
              <p>{{"HOMNE.SERVICE.DESCRIPTION_INTERFACE" | translate}}</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div class="feature-left">
            <span class="icon">
              <i class="icon-briefcase"></i>
            </span>
            <div class="feature-copy">
              <h3>{{"HOMNE.SERVICE.API_INTEGRATION" | translate}}</h3>
              <p>{{"HOMNE.SERVICE.API_INTEGRATION_DESCRIPTION" | translate}}</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 text-center">
          <div class="feature-left">
            <span class="icon">
              <i class="icon-chat"></i>
            </span>
            <div class="feature-copy">
              <h3>{{"HOMNE.SERVICE.TECNIC" | translate}}</h3>
              <p>{{"HOMNE.SERVICE.TECNIC_DESCRIPTION" | translate}}</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 text-center">

          <div class="feature-left">
            <span class="icon">
              <i class="icon-bargraph"></i>
            </span>
            <div class="feature-copy">
              <h3>{{"HOMNE.SERVICE.WEB_APPLICATION" | translate}}</h3>
              <p>{{"HOMNE.SERVICE.WEB_APPLICATION_DESCRIPTION" | translate}}</p>
            </div>
          </div>

        </div>

        <div class="col-md-4 text-center">
          <div class="feature-left">
            <span class="icon">
              <i class="icon-genius"></i>
            </span>
            <div class="feature-copy">
              <h3>{{"HOMNE.SERVICE.UPDATE" | translate}}</h3>
              <p>{{"HOMNE.SERVICE.UPDATE_INFORMATION" | translate}}</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 text-center">
          <div class="feature-left">
            <span class="icon">
              <i class="icon-search"></i>
            </span>
            <div class="feature-copy">
              <h3>{{"HOMNE.SERVICE.TEST" | translate}}</h3>
              <p>{{"HOMNE.SERVICE.TEST_DESCRIPTION" | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>