<div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>{{"HOMNE.INFORMATION.TITLE_WORK" | translate}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center col-padding animate-box" *ngFor="let work of workExperience; let i = index" >
          <a href="#" class="work" style="background-image: url(assets/images/{{work.image}});">
            <div class="desc">
              <h3>{{work.company}}</h3>
              <span>{{work.project}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
