.content-text {
    width: 300px; 
    height: 90px; 
    overflow: hidden; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
}
  
.show-all {
    white-space: normal; 
    overflow: visible;
    text-overflow: unset; 
}