<div id="fh5co-blog">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>{{"HOMNE.PROJECT.TITLE" | translate}}</h2>
          <p>{{"HOMNE.PROJECT.DESCRIPTION" | translate}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg border-panel-info" style="background-image: url(assets/images/commerzbank.jpg);"></a>
            <div class="blog-text">
              <span class="posted_on">{{getYearProject.CommerzBank}}</span>
              <h3><a href="#">{{getCompany.CommerzBank}}</a></h3>
              <p [ngClass]="{'show-all': showAllfirst(), 'content-text': !showAllfirst()}">{{"HOMNE.PROJECT.COMMERZBANK_DESCRIPTION" | translate}}</p>
              <ul class="stuff">
                @if ( !showAllfirst() ) {
                  <li><div (click)="toggleShowAll(getPosition.First)">{{"HOMNE.PROJECT.READ_MORE" | translate}}<i class="icon-arrow-right22"></i></div></li>
                } @else {
                  <li><div (click)="toggleShowAll(getPosition.First)">{{"HOMNE.PROJECT.SHOW_LESS" | translate}}<i class="icon-arrow-right22"></i></div></li>
                }
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg border-panel-info" style="background-image: url(assets/images/htgroup.png);"></a>
            <div class="blog-text">
              <span class="posted_on">{{getYearProject.Htg}}</span>
              <h3><a href="#">{{getCompany.Htg}}</a></h3>
              <p [ngClass]="{'show-all': showAllSecond() , 'content-text': !showAllSecond() }">{{"HOMNE.PROJECT.HTG_DESCRIPTION" | translate}}</p>
              <ul class="stuff">
                @if ( !showAllSecond() ) {
                  <li><div (click)="toggleShowAll(getPosition.Second)">{{"HOMNE.PROJECT.READ_MORE" | translate}}<i class="icon-arrow-right22"></i></div></li>
                } @else {
                  <li><div (click)="toggleShowAll(getPosition.Second)">{{"HOMNE.PROJECT.SHOW_LESS" | translate}}<i class="icon-arrow-right22"></i></div></li>
                }
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg border-panel-info" style="background-image: url(assets/images/portic.jpg);"></a>
            <div class="blog-text">
              <span class="posted_on">{{getYearProject.Portic}}</span>
              <h3><a href="#">{{getCompany.Portic}}</a></h3>
              <p [ngClass]="{'show-all': showAllThird() , 'content-text': !showAllThird()}">{{"HOMNE.PROJECT.PORTIC_DESCRIPTION" | translate}}</p>
              <ul class="stuff">
                @if ( !showAllThird() ) {
                  <li><div (click)="toggleShowAll(getPosition.Third)">{{"HOMNE.PROJECT.READ_MORE" | translate}}<i class="icon-arrow-right22"></i></div></li>
                } @else {
                  <li><div (click)="toggleShowAll(getPosition.Third)">{{"HOMNE.PROJECT.SHOW_LESS" | translate}}<i class="icon-arrow-right22"></i></div></li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>