  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row form-group">
      <div class="col-md-6">
        <input id="fname" formControlName="fname" type="text" class="form-control" [ngClass]="{'error-input': formGroup.get('fname')?.invalid && (formGroup.get('fname')?.dirty || formGroup.get('fname')?.touched)}" placeholder="{{'HOMNE.CONTACT.FIRST_NAME' | translate}}">
        <div *ngIf="formGroup.get('fname')?.invalid && (formGroup.get('fname')?.dirty || formGroup.get('fname')?.touched)"
        class="text-danger">{{"HOMNE.CONTACT.VALIDATE_FIRST_NAME" | translate}}</div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <input formControlName="lname" type="text" class="form-control" [ngClass]="{'error-input': formGroup.get('lname')?.invalid && (formGroup.get('lname')?.dirty || formGroup.get('lname')?.touched)}" placeholder="{{'HOMNE.CONTACT.LAST_NAME' | translate}}">
        <div *ngIf="formGroup.get('lname')?.invalid && (formGroup.get('lname')?.dirty || formGroup.get('lname')?.touched)"
        class="text-danger">{{"HOMNE.CONTACT.VALIDATE_LAST_NAME" | translate}}</div>
      </div>
    </div>
  
    <div class="row form-group">
      <div class="col-md-12">
        <input formControlName="email" type="text" class="form-control" [ngClass]="{'error-input': formGroup.get('email')?.invalid && (formGroup.get('email')?.dirty || formGroup.get('email')?.touched)}" placeholder="{{'HOMNE.CONTACT.EMAIL_ADDRESS' | translate}}">
        <div *ngIf="formGroup.get('email')?.invalid && (formGroup.get('email')?.dirty || formGroup.get('email')?.touched)"
        class="text-danger">{{"HOMNE.CONTACT.VALIDATE_EMAIL_ADDRESS" | translate}}</div>
      </div>
    </div>
  
    <div class="row form-group">
      <div class="col-md-12">
        <input formControlName="subject" type="text" class="form-control" [ngClass]="{'error-input': formGroup.get('subject')?.invalid && (formGroup.get('subject')?.dirty || formGroup.get('subject')?.touched)}" placeholder="{{'HOMNE.CONTACT.SUBJECT_MESSAGE' | translate}}">
        <div *ngIf="formGroup.get('subject')?.invalid && (formGroup.get('subject')?.dirty || formGroup.get('subject')?.touched)"
        class="text-danger">{{"HOMNE.CONTACT.VALIDATE_SUBJECT_MESSAGE" | translate}}</div>
      </div>
    </div>
  
    <div class="row form-group">
      <div class="col-md-12">
        <textarea formControlName="message" class="form-control" [ngClass]="{'error-input': formGroup.get('message')?.invalid && (formGroup.get('message')?.dirty || formGroup.get('message')?.touched)}" placeholder="{{'HOMNE.CONTACT.ABOUT_US' | translate}}" rows="10"></textarea>
        <div *ngIf="formGroup.get('message')?.invalid && (formGroup.get('message')?.dirty || formGroup.get('message')?.touched)"
        class="text-danger">{{"HOMNE.CONTACT.VALIDATE_ABOUT_US" | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">{{"HOMNE.CONTACT.SEND_MESSAGE" | translate}}</button>
    </div>
  </form>