<!-- <div class="fh5co-loader"></div> -->

<div id="page">
  <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner"
    style="background-image:url(assets/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t js-fullheight">
            <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
              <div class="profile-thumb" style="background: url(assets/images/jfumero.JPG);"></div>
              <h1><span>Juan Fumero</span></h1>
              <h3><span>{{"HOMNE.INFORMATION.INFO" | translate}} | Angular </span></h3>
              <ul class="fh5co-social-icons move-top">
                <!-- <li><a href="#"><i class="icon-twitter2"></i></a></li>
                <li><a href="#"><i class="icon-facebook2"></i></a></li> -->
                <li><a href="https://www.linkedin.com/in/juan-fumero-96509838" target="_blank"><i class="icon-linkedin2"></i></a></li>
                <!-- <li><a href="#"><i class="icon-dribbble2"></i></a></li> -->
              </ul>
              <ul class="fh5co-social-icons move-top">
                <li><button class="flat fi fi-es fis fa-4x" (click)="switchLanguage('es')"></button></li>
                <li><button class="flat fi fi-us fis fa-4x" (click)="switchLanguage('en')"></button></li>
                <li><button class="flat fi fi-hr fis fa-4x" (click)="switchLanguage('hr')"></button></li>
                <li>
                  <button class="img-boton" (click)="switchLanguage('ca')">
                    <img src="assets/images/cataluna.png" alt="Descripción de la imagen" class="img-size">
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="fh5co-about" class="animate-box">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>{{"HOMNE.INFORMATION.ABOUT" | translate}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <ul class="info">
            <li><span class="first-block">{{"HOMNE.INFORMATION.FULL_NAME" | translate}}:</span><span class="second-block">Juan Fumero</span></li>
            <li><span class="first-block">{{"HOMNE.INFORMATION.PHONE" | translate}}:</span><span class="second-block">+ 1235 2355 98</span></li>
            <li><span class="first-block">{{"HOMNE.INFORMATION.EMAIL" | translate}}:</span><span class="second-block">ingjef&#64;gmail.com</span></li>
            <li><span class="first-block">{{"HOMNE.INFORMATION.ADDRESS" | translate}}:</span><span class="second-block">Barcelona, Spain</span></li>
          </ul>
        </div>
        <div class="col-md-8">
          <h2>{{"HOMNE.INFORMATION.HELLO" | translate}}</h2>
          <p>{{"HOMNE.INFORMATION.DESCRIPTION" | translate}}</p>
          <p></p>
          
          <ul class="fh5co-social-icons">
            <!-- <li><a href="#"><i class="icon-twitter2"></i></a></li>
            <li><a href="#"><i class="icon-facebook3"></i></a></li> -->
            <li><a href="https://www.linkedin.com/in/juan-fumero-96509838" target="_blank"><i class="icon-linkedin2"></i></a></li>
            <!-- <li><a href="#"><i class="icon-dribbble2"></i></a></li> -->
          </ul>
          
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>{{"HOMNE.INFORMATION.RESUME" | translate}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-0">
          <app-experience [language]="selectLangue" [experience]="'HOMNE.INFORMATION.WORK'" [listExperience]="experienceJob"></app-experience>
          <br>
          <app-experience [language]="selectLangue" [experience]="'HOMNE.INFORMATION.EDUCATION'" [listExperience]="experienceEducation"></app-experience>
          <br>
          <app-experience [language]="selectLangue" [experience]="'HOMNE.INFORMATION.COURSE'" [listExperience]="experienceCourse"></app-experience>
        </div>
      </div>
    </div>
  </div>


  <div id="fh5co-features" class="animate-box">
    <app-provider></app-provider>
  </div>

  <div id="fh5co-skills" class="animate-box">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Skills</h2>
        </div>
      </div>
      <div class="row row-pb-md">
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="95" [skill]="'Angular'" [numPercentage]="'95'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="70" [skill]="'Vue.js'" [numPercentage]="'70'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="40" [skill]="'React.js'" [numPercentage]="'40'"></app-chart>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="70" [skill]="'AngularJS'" [numPercentage]="'70'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="95" [skill]="'HTML'" [numPercentage]="'95'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="70" [skill]="'javascript'" [numPercentage]="'70'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="80" [skill]="'Ionic'" [numPercentage]="'80'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="50" [skill]="'Java'" [numPercentage]="'50'"></app-chart>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-progress [percentage]="95" [skill]="'Angular'" [numPercentage]="'95'"></app-progress>
          <app-progress [percentage]="70" [skill]="'Vue.js'" [numPercentage]="'70'"></app-progress>
          <app-progress [percentage]="40" [skill]="'React.js'" [numPercentage]="'40'"></app-progress>
          <app-progress [percentage]="70" [skill]="'AngularJS'" [numPercentage]="'70'"></app-progress>
        </div>
        <div class="col-md-6">
          <app-progress [percentage]="95" [skill]="'HTML'" [numPercentage]="'95'"></app-progress>
          <app-progress [percentage]="70" [skill]="'javascript'" [numPercentage]="'70'"></app-progress>
          <app-progress [percentage]="80" [skill]="'Ionic'" [numPercentage]="'80'"></app-progress>
          <app-progress [percentage]="50" [skill]="'Java'" [numPercentage]="'50'"></app-progress>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Work</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(assets/images/commerzbank.jpg);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Illustration</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(assets/images/htgroup.png);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Brading</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(assets/images/portic.jpg);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Illustration</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(assets/images/banesco.jpg);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Design</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(assets/images/mercantil.jpg);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Website</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(assets/images/navantia.jpg);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Illustration</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(assets/images/cgt.jpg);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Brading</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(assets/images/estrelladamm.jpg);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Illustration</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-blog">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Post on Medium</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab
            aliquam dolor eius.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg border-panel-info" style="background-image: url(assets/images/commerzbank.jpg);"></a>
            <div class="blog-text">
              <span class="posted_on">Mar. 15th 2016</span>
              <h3><a href="#">Photoshoot On The Street</a></h3>
              <p [ngClass]="{'show-all': showAllfirst, 'content-text': !showAllfirst}">Maintenance was carried out on the application at the component level, improvements were made and incidents reported by the QA department were resolved.</p>
              <ul class="stuff">
                <!-- <li><i class="icon-heart2"></i>249</li>
                <li><i class="icon-eye2"></i>308</li> -->
                <li *ngIf="!showAllfirst"><div (click)="toggleShowAll('first')">Read More<i class="icon-arrow-right22"></i></div></li>
                <li *ngIf="showAllfirst"><div (click)="toggleShowAll('first')">Show Less<i class="icon-arrow-right22"></i></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg border-panel-info" style="background-image: url(assets/images/htgroup.png);"></a>
            <div class="blog-text">
              <span class="posted_on">Mar. 15th 2016</span>
              <h3><a href="#">Surfing at Philippines</a></h3>
              <p [ngClass]="{'show-all': showAllSecond , 'content-text': !showAllSecond}">In this project, evolutionary processes required by the client were carried out, a table component developed from scratch customized for the client's needs was maintained, and reactive forms were worked on. Resolution of incidents in production reported by the client.</p>
              <ul class="stuff">
                <!-- <li><i class="icon-heart2"></i>249</li>
                <li><i class="icon-eye2"></i>308</li> -->
                <li *ngIf="!showAllSecond"><div (click)="toggleShowAll('second')">Read More<i class="icon-arrow-right22"></i></div></li>
                <li *ngIf="showAllSecond"><div (click)="toggleShowAll('second')">Show Less<i class="icon-arrow-right22"></i></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg border-panel-info" style="background-image: url(assets/images/portic.jpg);"></a>
            <div class="blog-text">
              <span class="posted_on">Mar. 15th 2016</span>
              <h3><a href="#">Capture Living On Uderwater</a></h3>
              <p [ngClass]="{'show-all': showAllThird , 'content-text': !showAllThird}">For this project, the frontend part was redesigned, to be adapted to the best practices in terms of usability, visibility and design, resulting in a simpler application oriented to transactions that are carried out in it. A re-engineering of the bases of the applications was carried out, with the purpose of breaking down the current concept of file and thus adapting the applications to the reality that occurs on the platform. For this application, Angular 8 was used, with NgRx libraries for state management, RxJs for asynchronous data management, the application contains a library of client-specific components developed with ngx-boostrap, the application also has a module for multilanguages.</p>
              <ul class="stuff">
                <!-- <li><i class="icon-heart2"></i>249</li>
                <li><i class="icon-eye2"></i>308</li> -->
                <li *ngIf="!showAllThird"><div (click)="toggleShowAll('third')">Read More<i class="icon-arrow-right22"></i></div></li>
                <li *ngIf="showAllThird"><div (click)="toggleShowAll('third')">Show Less<i class="icon-arrow-right22"></i></div></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co" class="fh5co-bg-dark">
    <div class="overlay"></div>
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <br>
          <h2>Hire Me!</h2>
          <p style="color: white;">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci
            architecto culpa amet.</p>
          <!-- <p></p> -->
          <div (click)="contactInfo()" class="btn btn-default btn-lg">Contact Us</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isContactUs" id="fh5co-consult">
    <div class="video fh5co-video" style="background-image: url(assets/images/cover_bg_1.jpg);">
      <div class="overlay"></div>
    </div>
    <div class="choose animate-box">
      <h2>Contact</h2>
      <app-contact></app-contact>
    </div>
  </div>

  <div *ngIf="!isContactUs" id="map"></div>
</div>

<div id="fh5co-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>&copy; 2024 Angular. All Rights Reserved. <br>Designed by Juan Fumero
        </p>
      </div>
    </div>
  </div>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div> 

<router-outlet />
