.content-flat {
    display: flex;
    justify-content: space-around;
    width: 300px; /* Ancho del contenedor */

  }
  .flat {
    width: 50px; 
    height: 30px; 
    border: 1px solid #000; 
    background-size: contain;
    background-position: 50%;    
    background-color: #020624; 
    background-repeat: no-repeat;
  }

.move-top {
    padding-top: 20px;
}

.img-boton {
    padding: 5px 10px; 
    border: none; 
    background-color: #020624; 
    cursor: pointer; 
  }
  
  .img-size {
    width: 30px; 
    height: auto; 
    margin-right: 10px; 
    margin-bottom: 8px;
  }

.border-panel-info {
    border: 1px solid black;
}

.content-text {
  width: 300px; 
  height: 90px; 
  overflow: hidden; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
}

.show-all {
  white-space: normal; 
  overflow: visible;
  text-overflow: unset; 
}

.justificado {
  text-align: justify;
}

.color-github {
  color: darkblue;
}

.container-padding {
  padding-bottom: 50px;
}