<div id="page">
  <header id="fh5co-header" class="fh5co-cover" role="banner"
    style="background-image:url(assets/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <div class="profile-thumb" style="background: url(assets/images/fumero.jpg.JPG);"></div>
              <h1><span>{{ userInfo.result.username }}</span></h1>
              <h3><span>{{"HOMNE.INFORMATION.INFO" | translate}} | Angular </span></h3>
              <ul class="fh5co-social-icons move-top">
                <li><a href="https://www.linkedin.com/in/juan-fumero-96509838" target="_blank"><i class="icon-linkedin2"></i></a></li>
              </ul>
              <ul class="fh5co-social-icons move-top">
                <li><button class="flat fi fi-es fis fa-4x" (click)="switchLanguage('es')"></button></li>
                <li><button class="flat fi fi-us fis fa-4x" (click)="switchLanguage('en')"></button></li>
                <li><button class="flat fi fi-hr fis fa-4x" (click)="switchLanguage('hr')"></button></li>
                <li>
                  <button class="img-boton" (click)="switchLanguage('ca')">
                    <img src="assets/images/cataluna.png" alt="Descripción de la imagen" class="img-size">
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="fh5co-about" class="animate-box">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>{{"HOMNE.INFORMATION.ABOUT" | translate}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <ul class="info">
            <li><span class="first-block">{{"HOMNE.INFORMATION.FULL_NAME" | translate}}:</span><span class="second-block">{{ userInfo.result.username }}</span></li>
            <li><span class="first-block">{{"HOMNE.INFORMATION.PHONE" | translate}}:</span><span class="second-block">{{ userInfo.result.phone }}</span></li>
            <li><span class="first-block">{{"HOMNE.INFORMATION.EMAIL" | translate}}:</span><span class="second-block">{{ userInfo.result.email }}</span></li>
            <li><span class="first-block">{{"HOMNE.INFORMATION.ADDRESS" | translate}}:</span><span class="second-block">{{ userInfo.result.address }}</span></li>
          </ul>
        </div>
        <div class="col-md-8">
          <h2>{{"HOMNE.INFORMATION.HELLO" | translate}}</h2>
          <p class="justificado">{{"HOMNE.INFORMATION.DESCRIPTION" | translate}}</p>
          <p class="justificado">{{"HOMNE.INFORMATION.DESCRIPTION_ACTUAL" | translate}}</p>
          <p></p>          
          <ul class="fh5co-social-icons">
            <li><a href="https://www.linkedin.com/in/juan-fumero-96509838" target="_blank"><i class="icon-linkedin2"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>{{"HOMNE.INFORMATION.RESUME" | translate}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-0">
          <app-experience [language]="selectLangue" [experience]="'HOMNE.INFORMATION.WORK'" [listExperience]="experienceJob"></app-experience>
          <br>
          <app-experience [language]="selectLangue" [experience]="'HOMNE.INFORMATION.EDUCATION'" [listExperience]="experienceEducation"></app-experience>
          <br>
          <app-experience [language]="selectLangue" [experience]="'HOMNE.INFORMATION.COURSE'" [listExperience]="experienceCourse"></app-experience>
        </div>
      </div>
    </div>
  </div>


  <div id="fh5co-features" class="animate-box">
    <app-provider></app-provider>
  </div>

  <div id="fh5co-skills" class="animate-box">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>{{"HOMNE.INFORMATION.SKILL" | translate}}</h2>
        </div>
      </div>
      <div class="row row-pb-md">
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="100" [skill]="'Angular'" [numPercentage]="'100'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="90" [skill]="'Vue.js'" [numPercentage]="'90'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="80" [skill]="'React.js'" [numPercentage]="'80'"></app-chart>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="90" [skill]="'AngularJS'" [numPercentage]="'90'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="100" [skill]="'.NET'" [numPercentage]="'100'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="100" [skill]="'javascript'" [numPercentage]="'100'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="90" [skill]="'Ionic'" [numPercentage]="'90'"></app-chart>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <app-chart [percentage]="70" [skill]="'Java'" [numPercentage]="'70'"></app-chart>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-progress [percentage]="100" [skill]="'Angular'" [numPercentage]="'100'"></app-progress>
          <app-progress [percentage]="90" [skill]="'Vue.js'" [numPercentage]="'90'"></app-progress>
          <app-progress [percentage]="80" [skill]="'React.js'" [numPercentage]="'80'"></app-progress>
          <app-progress [percentage]="90" [skill]="'AngularJS'" [numPercentage]="'90'"></app-progress>
        </div>
        <div class="col-md-6">
          <app-progress [percentage]="70" [skill]="'.NET'" [numPercentage]="'70'"></app-progress>
          <app-progress [percentage]="100" [skill]="'javascript'" [numPercentage]="'100'"></app-progress>
          <app-progress [percentage]="90" [skill]="'Ionic'" [numPercentage]="'90'"></app-progress>
          <app-progress [percentage]="70" [skill]="'Java'" [numPercentage]="'70'"></app-progress>
        </div>
      </div>
    </div>
  </div>

  <app-work></app-work>

  <app-project></app-project>

  <div id="fh5co" class="fh5co-bg-dark">
    <div class="overlay"></div>
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <br>
          <h2>{{"HOMNE.INFORMATION.HIRE_ME" | translate}}</h2>
          <p class="justificado" style="color: white;">{{"HOMNE.INFORMATION.HIRE_ME_INFO" | translate}}</p>
          <div (click)="contactInfo()" class="btn btn-default btn-lg">{{"HOMNE.INFORMATION.CONTACT_US" | translate}}</div>
        </div>
      </div>
    </div>
  </div>

  @if ( isContactUs() ) {
    <div id="fh5co-consult">
      <div class="video fh5co-video" style="background-image: url(assets/images/cover_bg_1.jpg);">
        <div class="overlay"></div>
      </div>
      <div class="choose animate-box">
        <h2>{{"HOMNE.CONTACT.TITLE" | translate}}</h2>
        <app-contact></app-contact>
      </div>
    </div>
  } @else {    
    <div  id="map"></div>
  }

</div>

<div id="fh5co-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>&copy; {{"HOMNE.FOOTER.TITLE_RESERVED" | translate}} <br>{{"HOMNE.FOOTER.DESIGNED" | translate}} Juan Fumero
        </p>
      </div>
    </div>
  </div>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div> 

<router-outlet />
